/* CSS Reset*/
       
       * {
            padding: 0;
            margin: 0;
            font-family: "Quicksand", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }


/* Nav*/
    nav {
        display: flex;
        justify-content: space-around;
        outline: 1px solid white;
        width: 75%;
        margin: 10px auto;
        color: blue;
    }


/* Container */
        .container {
            width: 100%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
        }
/* Header*/
        .header {
            height: 100hv;
            background-size: cover;
        }

        .header-logo {
            outline: 1px solid white;
            flex: 1;
            display: flex;
            transition: opacity 2s;
        }
        
        .header-logo img {
            list-style: none;
            outline: 1px solid white;
            font-family: "Quicksand", sans-serif;
            color: black;
            display: block;
        }
        
        .header-menu {
            flex: 1;
            outline: 1px solid white;
            display: flex;
            justify-content: flex-end;
        }
        
        .header-menu li {
            list-style: none;
            margin: 30px;
            font-size: 19px;
            outline: 1px solid white;
            text-align: center;
            font-weight: bold;
            float: left;
            margin-right: 15px;
        }
        
        .header-menu li a:link,
        a:visited {
            color: black;
            text-decoration: none;
        }
        
        .header-menu li a:hover {
            color: f5620c;
        }
        
        .header-content {
            outline: 2px solid white;
            display: flex;
            flex-direction: column;
            text-align: center;
            margin-top: 5vh;
            background: #9cd3f71e;
        }
        
        .header-content h1 {
            font-size: 50px;
            color: #1b1919;
            font-weight: 900;
            font-family: sans-serif;
        }
        
        .header-content h3 {
            font-size: 18px;
            color: #0e0707;
            font-weight: 500;
            margin-top: 0 auto;
            font-family: Oxygen, Arial;
        }
        
        .comunidade {
            width: 180px;
            height: 50px;
            margin: 25px auto;
            display: flex;
            align-items: center;
            border-radius: 18px;
            background-color: rgb(2, 28, 51);
            justify-content: center;
            text-transform: uppercase;
            font-weight: 200px;
            padding: 0px 0px;
            font-weight: bold;
        }
        
        .comunidade:hover {
            background-color: #f5620c;
            color: white;
        }
        
        .comunidade:link {
            text-decoration: none;
        }
        
        .comunidade p {
            color: white;
        }
/*main*/
.main{
    outline: 1px solid black;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.main-noticia{
    outline: 1px solid black;
    width:  100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.main-content {
    width: 50%;
    margin: 50px auto;
    flex: 1;
    outline: 1px solid black;
    border-radius: 25% 10%;
}

.main-dev{
    outline: 1px solid black;
    width:  100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.devs-conteiner{
    outline: 1px solid black;
    width: 90%;
    margin: 0 auto 80px auto;
    flex: 1;
}

.dev{
    display: flex;
    flex-direction: column;
    margin: 10px;
    outline: 1px solid black;
    
}

.dev-img{
    outline: 1px solid black;
}

/*footer*/

.footer{
    height: 10vh;
    display: flex;
    align-items: center;
}

.footer-logo,
.footer-copy,
.footer-web{
    flex: 1;
    text-align: center;
}

.footer-web ul{
    display: flex;
    list-style: none;
}
.footer-web ul li{
    flex: 1;
}